html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 500vh;
    background: #000;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 30px;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}
