html {
    background-image: url('../images/support_background.jpg');
    background-size: cover;
    width: 100%;
}

@font-face {
    font-family: famicon_font;
    src: url(images/GrandiftPersonalUse-ywxVd.otf);
}

@font-face {
    font-family: title_font;
    src: url(images/Diskun-epmp.ttf);
}

body {
    margin: 0;
    padding: 0;
    /*height: 500vh;*/
    background: #FFF;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #000;
    color: #fff;
}
.navbar {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px 20px;*/
}

li {
    list-style: none;
}

.nav-container {
    display: flex;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_bth {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #D10000;
    color: #FFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu li a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}

.dropdown_menu li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    color: #D10000;
}

.dropdown_menu li a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
}

.links li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    color: #D10000;
}

main {
    font-size: 100%;
    font-family: famicon_font, sans-serif;
    color: #333;
    width: 760px;
    background-color: #EFECDA;
    margin: 20px auto;
    padding: 2em 2em 2em 2em;
    border-radius: 5px;
}

/* title section */
#title {
    display: flex;
    justify-content: center;
    align-items: center; /* Make three items center-align */

}

/* Question block */
.q_block {
    width: 3vw;
    height: auto;
    padding: 0 1vw 0.5vw 1vw;
}

h1 {
    font-family: title_font;
    color: #D10000;
    font-size: 2vw;
    margin-top: 0;
    width: 200px;
}

h2 {
    color: #627d86;
    text-align: center;
    font-size: 2vw;
}

h4 {
    color: #838687;
    text-align: center;
    margin-top: 0;
}

/* Inside first form styleing */
fieldset {
    border: 1px solid #AAA;
    margin: 2em 0;
}

legend {
    font-size: 75%;
    text-transform: uppercase;
    color: #AAA;
}

fieldset div {
    margin-bottom: 0.5em;
}

div label {
    display: block;
    width: 200px;
    float: left;
    text-align: right;
    padding-right: 1em;
}


label.error {
    color: red;
    float: right;
}

/* copy right styling */
small {
    font-size: 70%;
    float: right;
}

/* Submission styling */
#submission {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    text-align: center;
}

/* Style the image of Mario which appears after submitting */
.mario {
    width: 10vw;
    height: auto;
    align-items: center;
}
/*Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_bth {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 572px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

  
